@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

@keyframes underline_animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.underline_animated {
  color: rgb(255, 255, 255);
  animation-name: underline_animation;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}